<div class="container-fluid">
    <div class="row">
        <div style="height: 305px">
            <carousel>
                <slide ng-repeat="game in games">
                    <a sref="root.games.detail({miniGame: game.shortName})"><img ng-src="{{game.images.thumb}}" style="margin:auto;"></a>

                    <div class="carousel-caption">
                        <h4>{{game.fullName}}</h4>

                        <p>{{game.description}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>