<div class="container">

    <div style="height: 305px">
        <carousel>
            <slide ng-repeat="game in games">
                <a sref="{{game.sref}}"><img ng-src="{{game.images.thumb}}" style="margin:auto;"></a>

                <div class="carousel-caption">
                    <h4>{{game.name}}</h4>

                    <p>{{game.description}}</p>
                </div>
            </slide>
        </carousel>
    </div>

    <div class="row marketing">
        <h4>HTML5 Boilerplate</h4>

        <p>

        </p>

        <h4>Angular</h4>

        <p>
            AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>

        <p>Spectacular Test Runner for JavaScript.</p>
    </div>


</div>