<table ng-table="leaderboardParams" class="table table-striped">
    <tbody>
    <tr ng-repeat="user in $data">
        <td data-title="'Rank'">
            #{{user.rank}}
        </td>
        <td data-title="'Name'">
            <minecraft-user username="user.username"></minecraft-user>
        </td>
        <td data-title="'Wins'">
            {{user.wins}}
        </td>
        <td data-title="'Losses'">
            {{user.losses}}
        </td>
        <td data-title="'Accuracy'">
            {{user.accuracy}}%
        </td>
    </tr>
    </tbody>
</table>
