<div class="container-fluid">
    <div class="row">
        <h1>getAllOnlinePlayers</h1>
        {{onlineUsers}}


    </div>
    <div class="row">
        <h1>getAllOnlinePlayersCount</h1>
        {{onlineUserCount}}

    </div>

    <div class="row">
        <h1>getTotalPlayersCount</h1>
        {{totalUserCount}}

    </div>

    <div class="row">
        <h1>getServerStatus</h1>
        {{serverStatus}}

    </div>

    <div class="row">
        <h1>getLeaderboards</h1>
        {{leaderboardData}}

    </div>


</div>